---
---
@import "{{ site.theme }}";

// body {
//     font-size: 16px;
//     line-height: 24px;
//     background: #f7f7f7;
// }

#content {
  max-width: 652px;
  margin: 45px auto;
  // background: #fff;
  // color: #000;
}

header {
    background: #C41E3A;
    position: unset;
    margin: 0 auto;
    width: 720px;
}

// header h1 {
//   margin-bottom: 10px;
// }

header h1 {
    text-shadow: 0px 2px 0px #8C1515;
}

#banner #in_banner_right { 
    float: right;
}

header p {
    font-style: italic;
}

#banner .fork {
    position: relative;
    left: 0;
    margin-left: 6px;
    line-height: 50px;
    background: #F7E7CE;
}

#banner {
    background: #333;
    border: 1px solid #333;
    position: unset;
    margin-right: unset;
    width: 702px;
    margin: -26px auto;
}

#banner .img-icon img {
    margin-top: 7px;
    height: 36px;
    width: 36px;
}

@media print, screen and (max-width: 1060px) {
    #banner .img-icon img {
        margin-right: 7px;
    }
}

@media print, screen and (max-width: 720px) {
  header p {
    display: unset;
  }
  header h1 {
    margin-bottom: 0;
  }
    #banner .fork {
        height: 38px;
        padding: 0 10px;
        line-height: 38px;
    }

    #banner .img-icon img {
        margin-top: 7px;
    }

    #content {
      margin-top: 0;
    }
}

@media print, screen and (max-width: 480px) {
    #banner {
        display: block;
        position: relative;
        top: 0;
    }
}

@media print, screen and (min-width: 1061px) {
    .wrapper {
        width: auto;
    }

    section {
        width: unset;
        margin-right: 25%;
        margin-left: 20px;
    }

    .wrapper nav {
        right: 5%;
        left: unset;
        text-align: left;
    }

    .wrapper nav ul {
        padding: 0;
    }
}

.onak-blog-list-item > .post-date {
  display: block;
  text-transform: uppercase; 
  color: #999; 
  font-size: 75%;
}

.onak-blog-list-item > .post-title {
  margin-left: 0 !important;
}

.onak-blog-list {
  list-style: none;
  padding: 0;
}

.onak-blog-list-item {
   padding: 16px 0;
   border-bottom: 1px solid rgba(0,0,0,.13);
}

.onak-blog-list-item:first-child {
  padding-top: 0;
}

.onak-blog-list-item > .post-date {
  text-transform: uppercase; 
  color: #999; 
  font-size: 75%;
}

.onak-blog-list-item > .post-title {
  margin-left: 15px;
}

.onak-blog-list-item > .post-title a {
   text-transform: uppercase;
}

